<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
        version="6.0">

    <display-name>s-server</display-name>

    <!-- We use @WebServlet and @WebListener annotations. No explicit servlet-mappings needed. -->
    <listener>
        <listener-class>server.api.Bootstrap</listener-class>
    </listener>


</web-app>
